
<mat-grid-list class="footer" cols="3" rowHeight="3:1">
    <div>
        <mat-grid-tile>
            <h2>IMAGEN</h2>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <p class="p-footer">POLITICA DE PRIVACIDAD<br>
                PATROCINADORES<br>
                EQUIPO BIT MX<br>
                PRENSA<br>
                AGENDA</p>
            </div>
            
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <p>ATENCIÓN DE CLIENTES<br>
                contacto@congresobit.com<br>
                (52) 951 1234456</p>
            </div>
            
            
        </mat-grid-tile>
        
    </div>

    
</mat-grid-list>
