*{
  box-sizing: border-box;
  font-family: 'Century Gothic';
  font-style: normal;

}
.fondo{
  background-color: #fafafa;
}
/* NAV*/
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background: black;
  color: aliceblue;
  height: auto;
}
.active {
  background-color: #2a2a2c;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: small;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(53, 50, 50);
}
.logo-bit{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 180px;
}
.logo-bit  img{
  width: 100%;
}
/* .nav{
  background-color: #070509;
  height: auto;
} */
.wrap{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../../../assets/img/img3.jpg);
  background-size: cover;
  background-position: center;
}
.wrap-texto{
  position: absolute;
  font-family: 'Bowlby One SC';
  font-size: 90px !important;
  color: #FFFFFF;
  padding: 0%;
  margin: 0%;
  top: 200px;
  text-align:center;
}
.wrap-texto2{
  position: absolute;
  font-size: 45px !important;
  font-weight: 700;
  color: #FFFFFF;
  padding: 0%;
  margin: 0%;
  top: 325px;
}
.divider1{
  position: absolute;
  width: 800px;
  height: 0px;
  top: 400px;
  border: 1px solid #CBCBCB;
}
.divider2{
  position: absolute;
  width: 28px;
  height: 0px;
  right: 700px;
  top: 435px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
.wrap-info-date{
  position: absolute;
  left: 350px;
  top: 425px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.wrap-info-ubi{
  position: absolute;
  right: 350px;
  top: 425px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.btn-registrate{
    /* BTN */
  position: absolute;
  width: 200px;
  height: 50px;
  top: 520px;
  background: #9100FF;
  border: 1px solid #9100FF;
  box-shadow: 0px 2px 9px -1px #9100FF;
  border-radius: 20px;
  /* REGISTRATE */
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.cont1{
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #292929;
  background-color: #ffffff !important;
} 
.cont1_1{
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #292929;
}  
.banner-icon-plus{
  padding-left: 3px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  color: #292929 !important;
  transform: scale(2);
}
.info-bit{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #01022F;
}
.subtitulo-planes{
  font-weight: 400;
  font-size: 25px;
  line-height: 25px ;
  color: #000000;
  text-align: center;
}
.cont-bit{
  border-radius: 20px;
  background: #F4F4F4;
  width: 350px;
  height: 250px;
}
.cont-bit mat-card-title{
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.cont-card-bit{
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #171616;
  align-content: center !important;
}
.img-bit{
  width: 350px;
  height: 250px;
  border-radius: 20px;
}
.img-bitp{
  padding-left: 75px;
}
.div-img{
  height: 150px;
}
.img-footer{
  width: 100%;
  height: 100%;
}
.list-patrocinadores{
  margin: 10px;
}
.cardplanes{
  width: 95%;
  height: auto;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  padding: 0%;
}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  height: 350px;
}
.image-content{
  position:relative;
  row-gap: 0px;
  padding: 25px 0px;
}

.overlay{ /*azul que se encuentra arriba */
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  background: linear-gradient(96.05deg, #107EFF 13.26%, #A42CFF 91.28%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px 0 0;
}
.overlay-ext{ /*azul que se encuentra arriba */
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  background: linear-gradient(96.05deg, #D6DB00 13.26%, #4BCE00 91.28%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px 0 0;
}
.precio{
  margin: 1.5rem;
}
.name{ /* titulo del color azul */
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: rgb(81, 81, 81);
  padding: 2rem;
}

.description{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #575757;
  padding-top: 1rem;
  text-align: justify !important;
}

/* -------------BOTON---------------- */
.button{
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;
  background: #9100FF;
  border: 1px solid #9100FF;
  box-shadow: 0px 2px 9px -1px #9100FF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.list-register{
  padding-bottom: 0.5rem;
  text-align: center;
}

.button:hover{
  background: #3d155a;
}
.footer{
  background-color: #070509;
  padding: 0;
}
.img-div{
  width: 300px;
}
.footer-img{
  width: 75%;
  height: 75%;
}
.icon-footer{
  color: #F4F4F4;
  transform: scale(2);
  padding: 5px;
}
.lista-footer,.lista-footer>mat-list-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}
.divider-footer{
  height: 0px;
  border: 1px solid #CBCBCB;
  width: calc(20px+20px-100px);
  position: absolute;
  right: 20px;
  left: 20px;
}
.copyright{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  padding: 20px;
  color: #FFFFFF;
}
